.header {
  display: flex;
  width: 100%;
  border: 1px solid pink;
}
.logo {
  display: flex;
}
.logo :nth-child(1) {
  width: 104px;
  height: 70px;
}
.header-css {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid pink;
  width: 90%;
  margin: auto;
}
.link {
  display: flex;
  width: 301px;
  height: 10px;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  gap: 1rem;
}
.link p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.catagories {
  width: 140px;
  height: 40px;
  display: flex;
  border-radius: 12px;
  background-color: #f5e1ff;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.catagories p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #8708c2;
}
.search-container {
  border: 1px solid black;
  width: 367px;
  display: flex;
  justify-content: center;
}
.cart-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 5rem;
}
.search-container input {
  color: #8708c2;
  border-radius: 12px;
  display: flex;
  border: none;
}
.catagories img {
  width: 20px;
  height: 20px;
}
.img-input {
  display: flex;
  align-items: center;
  border: 1px solid #8708c2;
  width: 301px;
  height: 10px;
}
.img-input input {
  height: 20px;
  padding-bottom: 12px;
  align-items: center;
  padding-left: 14px;
  color: rgb(218, 12, 218);
  margin-top: 5px;
}
button {
  width: 102px;
  height: 43.91;
  border-radius: 12px;
  background: #8708c2;
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 15px;
}
.img-input img {
  width: 15px;
  height: 15px;
  margin-top: 2.5px;
  margin-left: 2.5px;
}
